.weather-container {
  background: #fdf5e6;
  padding: 25px;
  border-radius: 15px;
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  text-align: center;
  font-family: Arial, sans-serif;
}

.weather-title {
  margin-bottom: 20px;
  color: #333;
}

.weather-dropdown {
  width: 60%;
  margin: 0 auto 20px auto;
  position: relative;
  cursor: pointer;
}

.weather-dropdown-selected {
  background: #5D4037; 
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.weather-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: #fdf5e6;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  color: #5D4037;
}

.weather-dropdown-item {
  padding: 10px;
  color: #5D4037;
}

.weather-dropdown-item:hover {
  background-color: #4E342E; /* հորիզոնական շագանակագույն hover */
  color: #fdf5e6;

}

.weather-result {
  font-size: 18px;
  color: #333;
}
